{% extends 'base.html' %}

{% block title %}
Create page
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Добавление статьи</h1>
    <form action="/create" method="post">
        <input type="text" name="title" id="title" class="form-control" /><br>
        <textarea name="intro" id="intro" class="form-control" ></textarea><br>
        <textarea name="text" id="text" class="form-control" ></textarea><br>
        <input type="submit" class="btn btn-success" /><br>
    </form>
</div>
{% endblock %}